@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <a href="~/Product/GetProducts">Все продукты</a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <a href="~/AdminPanel/Index">Админ панель</a>
        }
    </div>
</body>
</html>
