
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <title>GetProducts</title>
</head>
<body>
    <div class="Title"><h1>Super-Shop</h1></div>
    
    <div>
        @foreach (var i in ViewBag.Products)
        {
        <div class="block">

            <span>Имя:</span><span>@i.Name</span><br />
            <span>Цена:</span><span>@i.Price</span><br />
            <span>Производитель:</span><span>@i.Producer.Name</span><br />
            <a href="~/Product/GetProduct/@i.Id">Просмотр</a>



        </div>        }

    </div>
</body>
</html>
