
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        <h1>MY-SHOP.COM</h1>
        <p>Hello user</p>
    </div>
</body>
</html>
