
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span>Логин:</span><span>@ViewBag.User.UserName</span><br />
<span>Почта:</span><span>@ViewBag.User.Email</span><br />
<span>Роль:</span><span>@ViewBag.Role</span>
