@using Asp_FirstLesson.Models
@model User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        <form action="~/User/Registration" method="post">
            <input placeholder="Введите логин" name="Login" />
            @Html.ValidationMessageFor(model => model.Login)
            <br />
            <input type="password" placeholder="Введите пароль" name="Password" />
            @Html.ValidationMessageFor(model => model.Password)
            <br />
            <input placeholder="Введите имя" name="Name" />
            <input hidden type="Number" name="RoleId" value="1" placeholder="Введите id роли" /><br />
            <br />
            <button type="submit">Регистрация</button>
        </form>
    </div>
</body>
</html>
