
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <title>CreateCategory</title>
</head>
<body>
    <div class="Title"><h1>Super-Shop</h1></div>
    <div>
        <form action="~/AdminPanel/CreateCategory" method="post">
            <input placeholder="Введите название" name="Name" />
            <button type="submit">Создать!</button>
        </form>
    </div>
</body>
</html>
