
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProducer</title>
</head>
<body>
    <div>
        <form action="~/AdminPanel/CreateProducer" method="post">
            <input placeholder="Введите название" name="Name" />
            <button type="submit">Создать!</button>
        </form>
    </div>
</body>
</html>
