
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProduct</title>
</head>
<body>
    <div>
        <form action="~/AdminPanel/CreateProduct" method="post">
            <input placeholder="Введите название" name="Name" />
            <input placeholder="Введите цену" name="Price" />
            <input placeholder="Введите описание" name="Description" />
            <span>Выберите производителя:</span>
            <select name="ProducerId">
                @foreach (var i in ViewBag.Producers)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
            <span>Выберите категорию:</span>
            <select name="CategoryId">
                @foreach (var i in ViewBag.Categories)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
            <button type="submit">Создать!</button>
        </form>
    </div>
</body>
</html>
