
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCategory</title>
</head>
<body>
    <div>
        @foreach (var i in ViewBag.Categories)
        {

            <div class="block">
                <span>Имя:</span><span>@i.Name</span><br />
                <a href="~/AdminPanel/EditCategory/@i.Id">Редактировать</a>
            </div>
        }
    </div>
</body>
</html>
