
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/AdminPanel/CreateProduct">Добавить продукт</a>
        <a href="~/AdminPanel/CreateCategory">Добавить категорию</a>
        <a href="~/AdminPanel/CreateProducer">Добавить производителя</a>
        <a href="~/AdminPanel/CreateRole">Добавить роль</a>
        <a href="~/Product/GetProducts">Редактировать продукты</a>
        <a href="~/AdminPanel/EditCategories">Редактировать категории</a>
        <a href="~/AdminPanel/EditProducers">Редактировать производителей</a>
    </div>
</body>
</html>
